.THIS .connect {
    background: #343333;
    float: left;
    height: 50px;
    overflow: hidden;
    width: 100%;
}
.THIS .connect .wrapper {
    padding: 0;
}
.THIS .wrapper {
    margin: 0 auto;
    max-width: 978px;
}
.THIS .connect .links {
    float: left;
    height: 50px;
    margin: 0;
    padding: 0;
    width: 40%;
}
.THIS .connect .social {
    float: right;
    height: 50px;
    width: auto;
}
.THIS .connect .social ul {
    float: right;
    height: 26px;
    margin: 12px 0;
    width: auto;
}
.THIS .connect .social ul li {
    float: left;
    margin: 0 0 0 10px;
}
.THIS .clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.THIS .connect .social p {
    color: #fff;
    float: right;
    font-weight: 400;
    height: 50px;
    line-height: 50px;
    padding: 0 10px 0 0;
    margin: 0 auto;
}
.THIS .connect .links li {
    float: left;
    height: 50px;
    width: 49.5%;
    
}
.THIS .connect .links li a {
    color: #fff;
    float: left;
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 6%;
    font-weight: 700;
    background: url("https://www.monash.edu//__data/assets/image/0003/13809/arrowarea.png") no-repeat 88% center #0080b0;
    text-decoration: none;
}
.THIS .connect .links li a:hover {
    text-decoration: underline;
}
.THIS .connect .links li.last a {
    background-color: #005270;
}

.THIS .connect .social ul li a {
    background: url(https://www.monash.edu/__data/assets/image/0004/41908/monash-social.png) no-repeat 0 0;
    display: block;
    position: relative;
    top: -3px;
    width: 30px;
    height: 30px;
}

.THIS .connect .social ul li.linkedin a {
    background-position: 0 0;
}
.THIS .connect .social ul li.weibo a {
    background-position: -30px 0;
}
.THIS .connect .social ul li.googleplus a {
    background-position: -60px 0;
}
.THIS .connect .social ul li.tumblr a {
    background-position: -90px 0;
}
.THIS .connect .social ul li.twitter a {
    background-position: -120px 0;
}
.THIS .connect .social ul li.instagram a {
    background-position: -150px 0;
}
.THIS .connect .social ul li.facebook a {
    background-position: -180px 0;
}
.THIS .connect .social ul li.youtube a {
    background-position: -210px 0;
}
.THIS .connect .social ul li a span {
    display: none;
}


/* footer lists*/
.THIS h2.footer-list-header {
    color: #242424;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20.2px;
    font-weight: 400;
}
.THIS ul.footer-anchor li a {
    color: #004185!important;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    text-decoration: none;
}
.THIS ul {
    padding:0;
}
.THIS ul li {
    list-style-type: none;
}
.THIS ul.footer-anchor li {
    padding: 0 0 16px;
}
.THIS .copyright-text p {
    color: #242424;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0 0 6px;
}
.THIS .footer-back-to-top {
    background: #dddddd;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    bottom: 0;
    font-size: 0.625rem;
    padding: .5rem;
    position: fixed;
    right: 0.9375rem;
    text-align: center;
    text-transform: uppercase;
    width: 3.5rem;
}
.THIS .footer-back-to-top:before {
    width: 23px;
    height: 12px;
    background-position: -17.25px -34.5px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 270.25px 184px;
    background-image: url(https://www.study.monash/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg);
    content: ' ';
    display: inline-block;
    margin-left: -3px;
}

/* footer in mobile view*/
@media only screen and (max-width: 767px){
    
    .THIS .connect .links {
        width: 100%;
    }
}

@media only screen and (max-width: 767px){
    
    .THIS ul.quick-links li{
        border-bottom: 1px solid #3c3c3c;
        padding: 12px 2.5%;
        width: 100%;
    }
}