.THIS .has-errors .slds-input {
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
}

.THIS .dateError {
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
}

.THIS .app-errorText {
	color: rgb(194, 57, 52)
}

.THIS .error-only {
	display: none !important;
}

.THIS .wrapClass{
	white-space: normal;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .header-collapsible {
	background-color: #006dae !important;
	color: #fff;
}

@media(max-width:1000px){
    .THIS .hideOnMobile{
        display : none !important;
    }

    .THIS .onlyShowOnMobile {
		display : inline !important;
	}

	.THIS .wrapClass{
		width: 100% !important;
	}
}

.THIS .modal-brand {
    background-color: #2574a9;
}
.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.THIS .buttonWrap{
	white-space: normal;
	text-align: left;
	line-height: 1.5em;
}