.THIS .wrapClass{
	white-space: normal;
}

.THIS .buttonWrap{
	white-space: normal;
	text-align: left;
	font-size: 12px;
	line-height: 1.5em;
}

.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.THIS .modal-brand {
    background-color: #2574a9;
}

.THIS .disabled {
  	cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
	background-color: #E6E6E6;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
	display: block; 
	margin: auto;
}