.THIS .uiInput--default .form-element__label {
    font-family: Roboto;
    color: #065484;
    font-size: 1rem;
}

.THIS .message {
    font-family: Roboto;
    color: #065484;
    font-size: 1rem;
}

.THIS .uiInputRadio .radio-style {
    position:relative;
    top:32px;
    left:8px;
}
.THIS .radio-header {
    font-family:Roboto;
    font-size:1em;
    position: relative;
    top: -12px;
    right: -24px;
    color: #004185;
}
.THIS .slds-input {
    border:1px solid #ccc !important; 
}
.THIS .radio-border {
    border: 1px solid #ccc;
    background: #f6f6f6;
    border-radius:2px;
}

.THIS input[type="radio"] {
    position: relative;
    top: 32px;
    left: 6px;
}
.THIS ul.search-list li {
    list-style-type:none;
}
.THIS ul {
    padding:0;
}
.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .small-spinner {
    height: 20px;
    width: 20px;
}

.THIS .file {
    margin-bottom: 5px;
    display: block;
}
.THIS .selected {
    background-color: #092945;
}
.THIS .selected-font {
    color: #fff !important;
}
.THIS h1.headlineTitle{
    font-family: Century Schoolbook Georgia Times New Roman !important;
    font-size: 1.5rem !important;
    color: #006dae !important;
    font-weight: 400 !important
}

.THIS input[type="file"] {
    display: none;
}
.THIS a.filelabel:focus{
    box-shadow: 0 0 8px #719ECE;
}
.THIS .custom-file-upload {
    background-color: #006dae;
    cursor: pointer;
    color:#fff;
    display: inline-block;
    font-family: Roboto;
    font-size:1rem;
    padding:12px;
    text-align: center;
}
.THIS .submit-btn{
    border: solid 0.5px #979797;
    background: #242424;
    color: #fff;
    font-family: Roboto;
    font-size:1rem;
    padding: 7px 25px; 
}
.THIS .attachment-selected {
    padding: 0 15px;
    border-left: 1.5px solid black;
}
.THIS .inputcontrols { 
    font-family: Roboto;
    font-size:1rem;   
}
.THIS .spinner-text {
    font-family: Roboto;
    font-size:1.5rem;   
    
}