.THIS .faq-related-to {
    color: #006dae;
    font-family: Century Schoolbook Georgia Times New Roman;
    font-size: 1.5rem;
}
.THIS .faq-divider{
    color: #505050;
    padding: 0 15px 0 10px;
    border-left: solid 1.5px #696969;
    text-decoration:underline;
}
.THIS .faq-divider:first-child {
    border:none;
}