.THIS ol li {
    padding: 5px 0px;
    padding-left:1em;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .disabled {
  	cursor: not-allowed;
	pointer-events: none;
	color: #c0c0c0;
	background-color: #E6E6E6;
}