.THIS ul {
    padding:0;
}
.THIS ul li {
    border-bottom: solid 0.3px #979797;
    list-style-type: none !important;
}
.THIS .faq-text {
   /* border-bottom: solid 0.3px #979797; */
}
.THIS .faq-list {
    font-family: Arial,Helvetica,sans-serif;
    font-weight:400;
    font-size:1rem;
    padding: 12px 0;
}
.THIS .faq-list a {
    color: #006dae !important;
    text-decoration:none;
}
.THIS .faq-list a:hover {
       text-decoration:underline;
}
.THIS .faq-text {
    color: #006dae; 
    font-weight: 400;
    font-family: Century Schoolbook Georgia Times New Roman;
    font-size: 1.5rem ;
}