.THIS  .pagination-btn{
    border: none;
    background: black;
    color: #fff;
    padding: 2px 10px;
    margin:1px;
}
.THIS h3 {
    font-family: Roboto;
    font-size: 1.75rem;
    color: black;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
}
.THIS .faq-top-three {
    border-bottom: solid 0.3px #979797;
    padding: 12px 0;
}
.THIS .faq-top-three a:hover {
    text-decoration:underline !important;
}
.THIS .faq-top-three a {
    color:#006DAE;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1rem;
    text-decoration:none;
}
.THIS .result-text-left {
    padding-left: 1.5rem;
}