.THIS .button1 {
    background-color:grey;   
}

.THIS ::-webkit-input-placeholder { color:#999; font-style:italic; }

.THIS .wrapClass{
	white-space: normal;
}

.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;

}