.THIS .has-errors {
	border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset !important;
    background-clip: padding-box !important;
}

.THIS .error-only {
	display: none !important;
}