.THIS div#color {
     background-color: #f6f6f6 !important;
}

.THIS .slds-grid.slds-wrap {
    background-color: #f6f6f6 !important;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
}

.THIS button {
    border-radius: 2px;
    padding: 15px 80px;
    background-color: #2574a9;
    border: none;
    font-family: Roboto;
    color: #ffffff;
    font-size: 1rem;
    margin: 0 auto;
    display: flex;
    text-align: center;
}

.THIS div#label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    display: inline-block;
    line-height: 1.2em;
    text-align: center;
    font-family: Century Schoolbook Georgia Times New Roman;
    font-size: 1.5rem;
    color: #006dae;
}