.THIS ul li {
    list-style-type:none;
    padding: 12px;
}
.THIS ul {
    background-color:#f9fafb;
}
.THIS a.search-results:hover  {
    text-decoration:underline !important;
}
.THIS a.search-results  {
    cursor:pointer;
    color: #006DAE;
    font-family:Arial,Helvetica,sans-serif;
    font-size:1rem;
    text-decoration:none !important;
}
.THIS input[type=text]::placeholder {
    color:#b4b4b4;
}
.THIS input[type=text] {
    box-sizing: border-box;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
    border: solid 0.5px #979797;
    font-family:Roboto;
    padding: 15px;
    width: 100%;
}

.THIS button.header-row-search-icon {
    background: #006dae url("https://www.study.monash/__data/assets/git_bridge/0006/509343/deploy/styles/mysource_files/sprites.svg") no-repeat 0 0; 
    color: white;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 70px;
    background-position: -607px -38px;
    width: 64px;
    height: 51px;
}
.THIS .slds-panel.slds-grid.slds-grid_vertical.slds-nowrap {
    background-color: white;
}