.THIS p.login-text {
    color: #0a589e;
    font-family:Century Schoolbook Georgia Times New Roman;
    font-size:1.5rem;
    float:left;  
}
.THIS .slds-modal__footer {
    border:none !important;    
}
.THIS .slds-modal__header {
    border:none !important;    
}

.THIS .toggle {
    display: none;
}
.THIS p.login-desc {
    color:#3f3f3f;
    font-family: Roboto;
    font-size:1rem;
}
.THIS ul li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    background-color: #006dae;
    border: solid 0.5px #979797;
    margin-left: 0px;
    color: #fff;
    font-family: Roboto;
    font-size:18px;
}
.THIS .btn-custom {
    padding: 12px;
    background-color: #006dae;
    font-family: Roboto;
    font-size:1rem;
    width: 100%;
}
.THIS ul {
    margin-top: 60px;
}
.THIS .hr-tile {
    background-color: #996b6a;
}
.THIS .other-tile {
    background-color: #5c7a94;
}
.THIS a {
    color: #ffffff;
}

.THIS a:hover {
    text-decoration: none;
}

.THIS .tiles {
    align-items: center;
    cursor:pointer;
    display: flex;
    font-family: Roboto; 
    font-size: 1rem;
    justify-content: center;
    height: 200px;
    text-transform:uppercase;
}
.THIS .tile-lib {
    background-color: #996b6a;
}
.THIS .tile-academic {
    background-color: #5c7a94;
}
.THIS .tile-domestic {
    background-color: #86745c;
}
.THIS .tile-graduation {
    background-color: #607e64;
}
.THIS .tile-oreintation {
    background-color: #8666bf;
}
.THIS .tile-qualification {
    background-color: #687e48;
}
.THIS .tile-scholarships {
    background-color: #7070b4;
}
.THIS .tile-contact {
    background-color: #b65491;
}
.THIS .tile-mpass {
    background-color: #397bb4;
}
.THIS .tiles-spacing {
    background:rgba(255, 255, 255, 0.7);
    height:15px;
    position: absolute;
    top: 40px;
    left:30px;
    width: 80%;
}
.THIS .tiles-spacing-bottom {
    background: rgba(255, 255, 255, 0.7);
    height: 5px;
    width: 80%;
    position: absolute;
    bottom: 105px;
    left:30px;
}
.THIS p {
    font-family:Century Schoolbook Georgia Times New Roman;
    font-size:1.5rem;
    color:#006dae;
}
.THIS p.para-text {
    background-color:#aa977b;
    color:#fff;
    margin: 0 12px;
    padding: 8px;
}
.THIS button.ie {
    -ms-font-size:20px;   
}