.THIS .ques-text {
	font-family: Century Schoolbook Georgia Times New Roman;
    color: #006dae;
    font-size: 1.5rem;
 }
.THIS .ques-desc {
   	color: #3f3f3f;
    font-family: Roboto;
    font-size: 1rem;
 }

 .THIS .btn-custom {
   font-family: Roboto;
   padding: 12px;
   background-color: #006dae;
   color:#fff;
   font-size:1rem;
   width:15%;
}
.THIS button.btn-custom {
    border: none;
}