<apex:page id="AccessDenied" showHeader="false" standardStylesheets="false">
    <apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheets)}" />
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap-theme.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/js/bootstrap.min.js')}" />

    <body class="container contentDiv">
    <div id="header-graphic-content">
        <span class="h3 site-header-title-content"></span>
    </div>
	
	<!-- This is a change --> <!-- This is a second change --> <!-- This is a third change -->
    <div class="header-bar" />  
     <div style="height: 10%;" class="contentDiv"></div> 
            <div class="insideDiv">
            <div class="row">     
                <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <div style="height: 20px;"></div> 
                         <apex:form id="loginForm" forceSSL="true" styleClass="form-group">

                             <div class="row">
                                <div class="center-block">
                                    <img style="width:50%;height:40%;  margin: 0 auto 0px; display: block;" src="{!$Resource.MonashLogo}" alt="logo"/>
                                </div>
                             </div>
                            <div style="height: 1px;"></div>
                             <div class="row">
                                 <div class="col-md-12 form-group">
                                    <apex:outputLabel value="You do not have permission to access this page." styleClass="control-label" /><br/>
                                    <apex:outputLabel >
                                        Please contact the Service Desk on ext51777 or email <a href="mailto:servicedesk@monash.edu" style="color:blue; font: normal 110% arial, sans-serif;">servicedesk@monash.edu</a>
                                    </apex:outputLabel><br/>
                                    
                                </div>
                            </div>
                            <br/>
                            
                         </apex:form>
                  </div>
                </div>
            </div>
      </div><br/>
        <!--Pushing content for footer-->
        <div class="contentPush"/>
      </div>
</body>
<div class="footer footerStyle" >
<div class="container-fluid">
   <div class="hrBorder" />
        
</div>
</div>
</apex:page>