<apex:page controller="BMSEmailReviewCC" showHeader="true" sidebar="false" tabStyle="Bulk_Email_Review__tab">
    
<apex:stylesheet value="{!URLFOR($Resource.BMSStyleSheets)}" />
    <style type="text/css">
         .headerSearchContainer {
            display: none;
        }
    </style>
    <apex:form id="pageForm">
        <apex:pageMessages id="pgMsgId"/>

        <div class="mainSection">
            <!-- HEADER -->
            <!-- <div class="headerDiv">
                <span class="helper" />
                <img src="http://www.monash.edu/__data/assets/git_bridge/0006/509343/deploy/mysource_files/monash-logo-mono.svg" class="header-row__logo-img" alt="Monash University" />
            </div> -->
        

            <div style="float: right;margin-bottom: 10px;">
                        
                <!-- APPROVE ALL -->
                <apex:actionStatus id="approveStatusTop">
                    <apex:facet name="start">
                        <img src="/img/loading.gif" />
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:commandButton styleClass="btn-blue" value="Approve All" action="{!approveAllEmails}" status="approveStatusTop" id="approveBtnTop" reRender="approveRejectTable" rendered="{!wMassEmailList.size > 0 && hasOnHold}"/>
                    </apex:facet>
                </apex:actionStatus>

                <!-- REJECT ALL -->
                <apex:actionStatus id="rejectStatusTop">
                    <apex:facet name="start">
                        <img src="/img/loading.gif" />
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:commandButton styleClass="btn-blue" value="Cancel All" action="{!cancelAllEmails}" status="rejectStatusTop" id="rejectBtnTop" reRender="approveRejectTable" rendered="{!wMassEmailList.size > 0 && hasOnHold}"/>
                    </apex:facet>
                </apex:actionStatus>

                <!-- SUBMIT -->
                <apex:actionStatus id="submitStatusTop">
                    <apex:facet name="start">
                        <img src="/img/loading.gif" />
                    </apex:facet>
                    <apex:facet name="stop">
                        <apex:commandButton styleClass="btn-blue" value="Submit" action="{!updateCRMMassEmailStatus}" status="submitStatusTop" id="submitBtnTop" rendered="{!wMassEmailList.size > 0 && hasOnHold}" reRender="approveRejectTable, pgMsgId" />
                    </apex:facet>
                </apex:actionStatus>
            </div>
            
            <apex:outputLabel value="There are no records to display." rendered="{!wMassEmailList.size == 0}"/>

            <apex:outputPanel id="approveRejectTable" rendered="{!wMassEmailList.size > 0}">
            
            <table class="ctcTable" width="100%">
                <tr>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Send Type</th>
                    <th>Number of recipients</th>
                    <th>Submitted By</th>
                    <th>Submitted Date</th>
                    <th>Action</th>
                </tr>
                <apex:repeat value="{!wMassEmailList}" var="wMassEmailRec" id="tblRepeatId" >
                    <tr>
                        <td>
                            <apex:commandLink value="{!wMassEmailRec.crmMassEmailRecord.Name}" action="{!previewEmailRecord}">
                                <apex:param name="selectedMassEmailId"
                                    value="{!wMassEmailRec.crmMassEmailRecord.Id}"
                                    assignTo="{!selectedMassEmailId}"/>
                                <apex:param name="selectedEmailTempId"
                                    value="{!wMassEmailRec.crmMassEmailRecord.Email_Template__c}"
                                    assignTo="{!selectedEmailTempId}"/>
                                <apex:param name="selectedMassEmailSendType"
                                    value="{!LOWER(wMassEmailRec.crmMassEmailRecord.Type)}"
                                    assignTo="{!selectedMassEmailSendType}"/>
                                
                            </apex:commandLink>
                        </td>
                        <td>{!wMassEmailRec.crmMassEmailRecord.Status}</td>
                        <td>{!wMassEmailRec.crmMassEmailRecord.Type}</td>
                        
                        <td>
                            <apex:outputText value="{0, number, ###,###}" rendered="{!wMassEmailRec.selectedStatus != batchNotComplete}">
                                <apex:param value="{!IF(wMassEmailRec.crmMassEmailRecord.Type == 'Email',wMassEmailRec.crmMassEmailRecord.Total_Members__c, 0)}"/>
                            </apex:outputText>
                            <apex:outputPanel rendered="{!wMassEmailRec.selectedStatus == batchNotComplete}">
                                <i><img src="/img/loading.gif" style="height: 14px;" /><apex:outputText value="Calculating..."/></i>
                            </apex:outputPanel>
                        </td>
                        <td>{!wMassEmailRec.crmMassEmailRecord.Owner_Name__c}</td>
                        <td>
                            <apex:outputText value="{0, date, dd/MM/YYYY}">
                                <apex:param value="{!wMassEmailRec.crmMassEmailRecord.CreatedDate}" /> 
                            </apex:outputText>
                        </td>
                        <td width="15%">
                            <apex:outputPanel rendered="{!wMassEmailRec.selectedStatus != batchNotComplete}">
                                <apex:selectList styleClass="sf-input" style="width: 100%" value="{!wMassEmailRec.selectedStatus}" multiselect="false" size="1" rendered="{!wMassEmailRec.crmMassEmailRecord.Status != 'Approved' && wMassEmailRec.crmMassEmailRecord.Status != 'Cancelled'}">
                                    <apex:selectOptions value="{!StatusOptions}"/>
                                </apex:selectList>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!wMassEmailRec.selectedStatus == batchNotComplete}">
                                <i><img src="/img/loading.gif" style="height: 14px;" /><apex:outputLabel value="{!wMassEmailRec.selectedStatus}" /></i>
                            </apex:outputPanel>
                        </td>
                    </tr>
                </apex:repeat>
            </table>
            </apex:outputPanel>
        </div>
    </apex:form>
</apex:page>