<apex:page showHeader="true" sidebar="false" controller="BMSEmailPreviewCC" tabStyle="Bulk_Messaging_System__tab">
    <apex:stylesheet value="{!URLFOR($Resource.BMSStyleSheets)}" />
    
    <style type="text/css">
        .emailContent p {
            font: 11pt Arial;
            margin: 0px;
        }

        .emailContent ul {
            /* IE7: reset rtl list margin. (#7334) */
            *margin-right: 0px;
            font: 11pt Arial;
        }
        .emailContent ol {
            /* IE7: reset rtl list margin. (#7334) */
            *margin-right: 0px;
            font: 11pt Arial;
        }
        .emailContent dl {
            /* IE7: reset rtl list margin. (#7334) */
            *margin-right: 0px;
            font: 11pt Arial;
        }
        h1,h2,h3 {
            display: block;
        }
        .smsTextArea {
            width: 600px; 
            height: 200px;
            resize: vertical;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
    </style>
   
    <apex:form id="pageForm">
        <div class="mainSection" >
            <apex:pageMessages id="pgMsgId"/>
            <br/>
            <apex:outputPanel rendered="{!sendType == 'email'}">
                <apex:outputText styleClass="emailContent" value="{!htmlBody}" escape="false"/>
            </apex:outputPanel>

            <apex:outputPanel rendered="{!sendType == 'sms' && massEmailRecord.size>0}" >
                
                <b><apex:outputText value="Message subject: " style="width: 10%;" /></b><br/>
                <apex:outputText id="SMSsubjectId" styleClass="sf-input" value="{!massEmailRecord[0].Name}" 
                style="width: 600px;"/>
                <br/><br/>
                <b><apex:outputText value="Send Date and Time:" style="width: 10%;" /></b><br/>
                <apex:outputField value="{!massEmailRecord[0].Send_Date_Time__c}" />
                <br/><br/>
                <b><apex:outputlabel value="SMS Message:" /></b><br/>
                <apex:inputtextarea styleClass="smsTextArea" value="{!massEmailRecord[0].SMS_Body__c}" disabled="true"/>
                <br/><br/>
                <apex:commandButton id="editBtnSMS" styleClass="btn-gray" value="{!IF (sendType == 'email', 'Edit Email', 'Edit SMS' ) }" action="{!editEmail}" rendered="{!(viewMode == 'EmailView' && showActions && !hasError)}" />
            </apex:outputPanel>
            <br/>
            
            <div style="width:700px; margin-right:auto; margin-left:auto;">
                <apex:commandButton id="editBtn" styleClass="btn-gray" value="Edit Email" action="{!editEmail}" rendered="{!(viewMode == 'EmailView' && showActions && !hasError && sendType == 'email')}" />
            </div>
            
            <br/><br/><br/>
            <apex:outputPanel rendered="{!(viewMode == 'EmailView') && !hasError}">
                <center>
                    <apex:commandButton id="saveSend" styleClass="btn-blue" value="Save" action="{!saveHold}" rendered="{!showActions}"/>&nbsp;
                    <apex:commandButton id="saveHold" style="" styleClass="btn-blue" value="Save and Send" action="{!saveSend}" rendered="{!showActions && isBatchFinished}"/>
                    <!-- <apex:commandButton id="saveHoldDisabled" style="" styleClass="btn-disabled" value="Currently adding email recipients..." action="{!saveSend}" rendered="{!!isBatchFinished}" disabled="true"/> -->
                    <apex:outputPanel rendered="{!!isBatchFinished}">
                        <i><img src="/img/loading.gif" style="height: 14px;" /><apex:outputLabel value="Currently adding recipients..." /></i>
                    </apex:outputPanel>
                </center>
            </apex:outputPanel>
        </div>
    </apex:form>
</apex:page>