<apex:page controller="BMSLandingController" showHeader="true" sidebar="false" action="{!redirectUser}" tabStyle="Bulk_Messaging_System__tab">
    <apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheets)}" />
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap-theme.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/js/bootstrap.min.js')}" />

    <style type="text/css">
      .headerSearchContainer {
            display: none;
        }
        
      .imageClass {
            max-width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        .imageClass:hover {
            transform: scale(1.25,1.25);
        }

        .panel-title {
            font-size: 14px;
          }

          body {
              font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
              font-size: 12px;
              line-height: 1.42857143;
              color: #333;
              background-color: #fff;
          }
    </style>

    <body class="container contentDiv">
    <div id="header-graphic-content">
        <span class="h3 site-header-title-content"></span>
    </div>

        <div style="height: 10%;" class="contentDiv"></div> 
        <div class="insideDiv">
            <div class="row">     
                <div class="col-md-6 col-md-offset-3">
                    <div id="outerPanel" class="panel panel-default">
                        <div id="innerPanel" class="panel-body">
                             <div style="height: 20px;"></div> 
                             <apex:form id="optionForm" >

                                 <div class="row">
                                    <div class="col-md-12">
                                        <div class="login-title">What are you sending?</div>
                                    </div>
                                </div>
                                <br/>
                                <div style="height: 1px;"></div>
                                  
                                <div class="row" >
                                    <div class="col-md-12">
                                        <div class="col-md-4"/>
                                        <div class="col-md-2">
                                            <center>
                                                <apex:commandLink action="{!gotoAddRecepients}" type="image/png">
                                                    <apex:image Id="emailImg" value="{!$Resource.EmailIcon}" styleClass="imageClass"/>
                                                    <apex:param name="option" value="{!BMS_EMAIL}" assignTo="{!optionParam}"/>
                                                </apex:commandlink><br/>
                                                <apex:outputText value="Email" style="font-weight: bolder;"/>
                                            </center>
                                        </div>
                                        <div class="col-md-2">
                                            <center>
                                                <apex:commandLink action="{!gotoAddRecepients}" type="image/png">
                                                    <apex:image value="{!$Resource.SMSIcon}" styleClass="imageClass"/>
                                                    <apex:param name="option" value="{!BMS_SMS}" assignTo="{!optionParam}"/>
                                                </apex:commandlink><br/>
                                                <apex:outputText value="SMS" style="font-weight: bolder;"/>
                                            </center>
                                        </div>
                                        <div class="col-md-4"/>
                                    </div>
                                </div>
                                <br/>
                             </apex:form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</apex:page>