<apex:page controller="SiteLoginController" standardStylesheets="false"  showHeader="false" sidebar="true" applyHtmlTag="true" applyBodyTag="true">
    <apex:stylesheet value="{!URLFOR($Resource.CustomStyleSheets)}" />
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/css/bootstrap-theme.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.BootstrapV2, 'bootstrap/js/bootstrap.min.js')}" />

    <body class="container contentDiv">
    <div id="header-graphic-content">
        <span class="h3 site-header-title-content"></span>
    </div>

    <div class="header-bar" />  
     <div style="height: 10%;" class="contentDiv"></div> 
            <div class="insideDiv">
            <div class="row">     
                <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                         <div style="height: 20px;"></div> 
                         <apex:form id="loginForm" forceSSL="true" styleClass="form-group">

                             <div class="row">
                                <div class="center-block">
                                    <img style="width:50%;height:40%;  margin: 0 auto 0px; display: block;" src="{!$Resource.MonashLogo}" alt="logo"/>
                                </div>
                             </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="login-title">Bulk Messaging System</div>
                                    <div class="login-subtitle"></div>
                                </div>
                            </div>

                             <div style="height: 1px;"></div>
                              <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-error">
                                        <label class="control-label">  <apex:pageMessages id="error"/></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                 <div class="col-md-12 form-group">
                                    <apex:outputLabel value="{!$Label.site.username}" styleClass="control-label" /><br/>
                                    <apex:inputText value="{!username}" styleClass="form-control"/>
                                 </div>
                                <div class="col-md-12 form-group">
                                     <apex:outputLabel value="{!$Label.site.password}" styleClass="control-label" /><br/>
                                <apex:inputSecret value="{!password}" styleClass="form-control"/>
                                </div>
                            </div>
                               <br/>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                     <apex:commandButton value="{!$Label.site.login_button}" action="{!login}" styleClass="btn btn-block btn-primary" />
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <div class="col-md-12">
                                <center>
                                <apex:outputLink value="{!$Page.ForgotPassword}"> {!$Label.site.forgot_your_password_q}</apex:outputLink>
                                 <apex:outputText value=" | " rendered="{!$Site.RegistrationEnabled}" />
                                    <apex:outputLink value="{!$Page.SiteRegister}" rendered="{!$Site.RegistrationEnabled}">{!$Label.site.new_user_q}</apex:outputLink>
                                </center>
                                </div>
                            </div>
                         </apex:form>
                  </div>
                </div>
            </div>
      </div><br/>
        <!--Pushing content for footer-->
        <div class="contentPush"/>
      </div>
</body>
<div class="footer footerStyle" >
<div class="container-fluid">
   <div class="hrBorder" />
        
</div>
</div>
</apex:page>