<apex:page showHeader="true" sidebar="false" controller="BMSCSVSearch" tabStyle="Bulk_Messaging_System__tab">
    <apex:stylesheet value="{!URLFOR($Resource.BMSStyleSheets)}" />
    <apex:form id="pageForm">
        <div class="mainSection">
            <apex:pageMessages id="pgMsgId" escape="false"/>
            <br/>
            <apex:outputPanel rendered="{!sendType == 'sms'}">
                <em>
                    Upload mobile phone numbers (csv file). Format: 61412345678 
                    (no spaces, no plus sign. Include your mobile phone number so you receive a copy of the message). Download the template&nbsp;
                    <apex:outputLink target="_self" value="/servlet/servlet.FileDownload?file={!csvTemplateMap['MobilePhone_CSV']}" style="color: blue;"><b>here</b></apex:outputLink>.
                </em>
            </apex:outputPanel>
            <apex:outputPanel rendered="{!sendType == 'email'}">
                <em>
                    Please select a CSV file containing the list of Email Addresses. Download the template&nbsp;
                    <apex:outputLink target="_self" value="/servlet/servlet.FileDownload?file={!csvTemplateMap['NameAndEmail_CSV']}" style="color: blue;"><b>here</b></apex:outputLink>.
                </em>
            </apex:outputPanel>
            <br/><br/>
            <apex:inputFile id="personIdxlf" value="{!contentFile}" fileName="{!fileName}" /><br/><br/><br/>

            <!-- PANEL FOR SENDING EMAIL -->
            <apex:outputPanel id="emailBodyPanel" rendered="{!sendType == 'email'}">
                <div style="width: 600px; display: block;" id="emailFieldDiv">
                    <b><apex:outputLabel value="Please enter email subject line (maximum 80 characters):" /></b><br/>
                    <div class="requiredBar"/><apex:inputText styleClass="sf-input" value="{!newCampaignNameStr}" id="campaignNameTxtId" style="width: 597px"/>
                    <br/><br/>
                    <!--<b><apex:outputText value="From: " style="width: 10%" /></b><br/>
                    <div class="requiredBar"/><apex:inputText styleClass="sf-input" value="{!massEmailRecord.From__c}" style="width: 597px" disabled="true"/>
                    <br/><br/>-->
                    <b><apex:outputText value="Reply To: " style="width: 10%" /></b><br/>
                    <div class="requiredBar"/><apex:inputText styleClass="sf-input" value="{!massEmailRecord.Reply_To__c}" style="width: 597px"/>
                    <br/><br/>
                    <b><apex:outputText value="Additional Emails (separate by semi colon, space, or new line):" style="width: 10%" /></b><br/>
                    <apex:inputTextarea styleClass="sf-input-textarea" value="{!massEmailRecord.Additional_Email__c}"/>
                    <br/><br/>
                    <b><apex:outputText value="Notify (separate by semi colon, space, or new line):" style="width: 10%" /></b><br/>
                    <apex:inputTextarea styleClass="sf-input-textarea" value="{!massEmailRecord.Notify__c}"/>
                    <br/><br/>
                </div>
            </apex:outputPanel>
            <!-- PANEL FOR SENDING EMAIL -->

            <!-- PANEL FOR SENDING SMS -->
            <apex:outputPanel id="smsBodyPanel" rendered="{!sendType == 'sms'}">
                <div style="width: 600px; display: block;" id="smsFieldDiv">
                    <b><apex:outputLabel value="Message subject:" /></b><br/>
                    <div class="requiredBar"/><apex:inputText styleClass="sf-input" value="{!newCampaignNameStr}" id="smsSubjectId" style="width: 597px"/>
                    <br/><br/>
                </div>
            </apex:outputPanel>
            <!-- END - PANEL FOR SENDING SMS -->
            <apex:outputPanel id="buttonPanelId">
                <div style="float: left; width: 600px; margin: auto; display: block;" id="btnDiv">
                    <apex:actionStatus id="searchStatusId" >
                        <apex:facet name="start">
                            <img src="/img/loading.gif" />
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandButton id="uploadBtn" styleClass="btn-blue" value="Continue" action="{!draftEmail}" status="searchStatusId" style="display: block;"/>
                        </apex:facet>
                    </apex:actionStatus>
                </div>
            </apex:outputPanel>
        </div>
    </apex:form>
</apex:page>