<apex:page controller="Console_ReportEnquiryNotEnrolled" contentType="application/vnd.ms-excel#SalesForceExport.xls" cache="true">
    <apex:pageBlock title="Export Results" >
        <apex:pageBlockTable value="{!enqList}" var="enquiryList">
            <apex:column value="{!enquiryList.CaseNumber}"/>
            <apex:column value="{!enquiryList.Course_Location__c}"/>
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>