<apex:page showHeader="false">
  <style>
      #liveAgentClientChat.liveAgentStateWaiting {
        // The CSS class that is applied when the chat request is waiting to be accepted
        // See "Waiting State" screenshot below
      }
      #liveAgentClientChat {
        // The CSS class that is applied when the chat is currently engaged
        // See "Engaged State" screenshot below
      }
      #liveAgentClientChat.liveAgentStateEnded {
        // The CSS class that is applied when the chat has ended
        // See "Ended State" screenshot below
      }
      body { overflow: hidden; width: 100%; height: 100%; padding: 0; margin: 0 }
      
      #waitingMessage { height: 100%; width: 100%; vertical-align: middle; text-align: center;
      display: none; }

      #liveAgentClientChat.liveAgentStateWaiting #waitingMessage { display: table; }
      
      #liveAgentSaveButton, #liveAgentEndButton { z-index: 2; }
      
      .liveAgentChatInput {
        height: 25px;
        border-width: 1px;
        border-style: solid;
        border-color: #969696;
        border-radius:4px;
        padding: 2px 0 2px 4px;
        background: #fff;
        display: block;
        width: 99%;
      }

      .liveAgentSendButton {
        display: block;
        width: 60px;
        height: 31px;
        padding: 2px;
        position: absolute;
        top: 0;
        right: -67px;
        background:#006dae;
        color:#ffffff;
        margin:0;
        border:0;
      }

      .liveAgentSendButton:hover{
        background:#005d95;
      }

      #liveAgentChatLog {
        width: auto;
        height: auto;
        top: 0px;
        position: absolute;
        overflow-y: auto;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top:10px;
        padding-left:0;
        padding-right:10px;
        padding-bottom:10px;
        border:0;
      }

      button#liveAgentSaveButton{
        padding:5px;
        background:#006f29;
        color:#ffffff;
        border:none;
        margin:0;
      }
      button#liveAgentSaveButton:hover {
        background:#005620;
      }
      button.liveAgentEndButton{
        padding:5px;
        background:#df0021;
        color:#ffffff;
        border:none;
        margin:0;
      }
      button.liveAgentEndButton:hover{
        background:#c6001d;
      }
      span.operator{
        background-color:#f6f6f6;
        padding:12px;
        border-radius:4px;
      }
      span.client {
        margin-top:10px;
        margin-bottom:10px;
        background-color:#e6e6e6;
        padding:12px;
        border-radius:4px;
      }
  </style>

  <!--style type="text/css">

    .liveAgentChatInput {
      height: 25px;
      border-width: 1px;
      border-style: solid;
      border-color: #969696;
      border-radius:4px;
      padding: 2px 0 2px 4px;
      background: #fff;
      display: block;
      width: 99%;
    }
    .liveAgentSendButton {
      display: block;
      width: 60px;
      height: 31px;
      padding: 2px;
      position: absolute;
      top: 0;
      right: -67px;
      background-color:#006dae;
      color:#ffffff;
      margin:0;
      border:0;
    }
    .liveAgentSendButton:hover{
      background-color:#005d95;
    }
    #liveAgentChatLog {
      width: auto;
      height: auto;
      top: 0px;
      position: absolute;
      overflow-y: auto;
      left: 0;
      right: 0;
      bottom: 0;
      padding-top:10px;
      padding-left:0;
      padding-right:10px;
      padding-bottom:10px;
      border:0;
    }
    button#liveAgentSaveButton{
      padding:5px;
      background-color:#006f29;
      color:#ffffff;
      border:none;
      margin:0;
    }
    button#liveAgentSaveButton:hover {
      background-color:#005620;
    }
    button.liveAgentEndButton{
      padding:5px;
      background-color:#df0021;
      color:#ffffff;
      border:none;
      margin:0;
    }
    button.liveAgentEndButton:hover{
      background-color:#c6001d;
    }
    span.operator{
      background-color:#f6f6f6;
      padding:12px;
      border-radius:4px;
    }
    span.client {
      margin-top:10px;
      margin-bottom:10px;
      background-color:#e6e6e6;
      padding:12px;
      border-radius:4px;
    }

  </style-->

  <div style="top: 10px; left: 10px; right: 0; bottom: 0; position: absolute;">
    <liveAgent:clientChat >
      <div style="top: 10px; left: 5px; padding-left: 15px">
        <liveAgent:clientChatSaveButton />
        <liveAgent:clientChatEndButton />
      </div>
      <div style="top: 25px; left: 5px; right: 5px; bottom: 5px; position: absolute; z-index:0;">
        <liveAgent:clientChatAlertMessage />
        <liveAgent:clientChatStatusMessage />
        <table id="waitingMessage" cellpadding="0" cellspacing="0">
          <tr>
            <td>Please wait while you are connected to an available agent.</td>
          </tr>
        </table>
        <div style="top: 0; right: 0; bottom: 41px; left: 0; padding: 0; position: absolute; word-wrap: break-word; z-index: 0;">
          <liveAgent:clientChatLog />
        </div>
        <div style="position: absolute; height: auto; right: 0; bottom: 0; left: 0; margin-right: 67px;">
          <liveagent:clientChatInput />
          <liveAgent:clientChatSendButton />
        </div>
      </div>
    </liveAgent:clientChat>
  </div>
</apex:page>