<apex:page controller="ImportApplicantDataViaCSVController" title="Bulk Registration">
    <style>
        .csvUploadpanel td{
            width:200px;
            float: left;
        }
        #btnRegister{
            margin-top:20px;            
        }
        #btnRegister a, #btnUploadCSV a { text-decoration: none; }
        .homeTab .bPageBlock { border-top: 3px solid #b7a752 !important; }
        .title-text { font-size: 16px; }
    </style>

    <!--<p>ApplicationID: {!$CurrentPage.parameters.ApplicationID}</p>
    <p>CourseOfferingID: {!$CurrentPage.parameters.CourseOfferingID}</p>
    <p>PaymentType: {!$CurrentPage.parameters.PaymentType}</p>-->

    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>-->
    <script> //alert("hi");
        $(function(){
            alert("hi2"); 
            var fileInput = $('#upload-file');
            var maxSize = 1024; //fileInput.data('max-size');
            $('#upload-form').submit(function(e){
                if(fileInput.get(0).files.length){
                    var fileSize = fileInput.get(0).files[0].size; // in bytes
                    if(fileSize>maxSize){
                        alert('file size is more then' + maxSize + ' bytes');
                        return false;
                    }else{
                        alert('file size is correct- '+fileSize+' bytes');
                    }
                }else{
                    alert('choose file, please');
                    return false;
                }

            });
        });


    </script>    

    <apex:form >                    
        <apex:pageBlock id="controlPanel" >            
                        
            <div class="wrapper">
                <div style="display: inline-block;">
                    <p class="title-text">Upload a CSV file to register bulk of students.</p><br/><br/>
                    
                    <apex:outputPanel rendered="{!displayUploadBlock}">
                        <form  id="upload-form">
                            <table class="csvUploadpanel">
                                <!--<tr>
                                    <td colspan="2"><b>Upload a CSV file to register bulk of students.</b><br/><br/></td>
                                </tr>-->
                                <tr>
                                    <td>Upload CSV file</td><td><apex:inputFile value="{!csvFileBody}" accept=".csv" contentType="text/csv" id="upload-file" /></td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>
                                        <div id="btnUploadCSV">
                                            <apex:commandlink action="{!readFromFile}" >
                                                <apex:param name="param0" value="{!$CurrentPage.parameters.HowManyApplicants}" assignTo="{!howManyApplicants}"/>
                                                <br/>
                                                <apex:commandButton value="Upload CSV" onclick="checkSize();" />
                                                <!--<apex:commandButton value="Upload CSV" action="{!readFromFile}"/>-->
                                                <br/><br/>
                                            </apex:commandlink>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </apex:outputPanel>

                </div>
                <div style="display: inline-block; vertical-align: top; float: right;">
                    <!--<a href="/servlet/servlet.FileDownload?file=0150l000000DITC" target="_blank">Download empty CSV Template</a>-->
                </div>
            </div>            

            <apex:outputPanel rendered="{!showMessagePanel_1}">
                <apex:pagemessages /> 
                <br/><apex:commandbutton value="Re-Upload CSV File" action="{!enableReUploadCSV}" />
            </apex:outputPanel>

        </apex:pageBlock>

        
        <!--<p>HowManyApplicants: {!$CurrentPage.parameters.HowManyApplicants}</p>
        <p>ApplicationID: {!$CurrentPage.parameters.ApplicationID}</p>-->

        <apex:pageBlock id="dataPanel" rendered="{!showDataPanel}">            
            
            <apex:outputPanel id="tableDataPanel">
            <!--<apex:outputPanel reRender="reRenderTableDataPanel">-->
                <div style="overflow: scroll; height: 200px">
                <apex:pageblocktable value="{!lstContactsData}" var="con" >
                    <apex:repeat value="{!lstFieldNamesData}" var="fieldName">
                        <apex:column value="{!con[fieldName]}" />
                    </apex:repeat>                
                </apex:pageblocktable>
                </div>
            <!--</apex:outputPanel>-->
            </apex:outputPanel>
            
            <div id="btnRegister">
                <apex:pagemessages />            
                
                <apex:commandlink action="{!saveData}" rendered="{!readSuccess}">
                    
                    <apex:param name="param1" value="{!$CurrentPage.parameters.ApplicationID}" assignTo="{!applicationID}"/>
                    <apex:param name="param2" value="{!$CurrentPage.parameters.CourseOfferingID}" assignTo="{!courseOfferingID}"/>
                    <apex:param name="param3" value="{!$CurrentPage.parameters.PaymentType}" assignTo="{!paymentType}"/>
                    
                    <apex:param name="param4" value="{!$CurrentPage.parameters.CourseCode}" assignTo="{!courseCode}"/>
                    <apex:param name="param5" value="{!$CurrentPage.parameters.CourseName}" assignTo="{!courseName}"/>
                    <!--<apex:param name="param4" value="{!$CurrentPage.parameters.HowManyApplicants}" assignTo="{!howManyApplicants}"/>-->
                    
                    <apex:commandbutton value="Register Students" onClick="this.value='Processing...';" />
                </apex:commandlink>

            </div>

        </apex:pageBlock>
    </apex:form>        
</apex:page>