.THIS .button1 {
    background-color:grey;   
}

.THIS ::-webkit-input-placeholder { color:#999; font-style:italic; }

.THIS .wrapClass{
	white-space: normal;
}

.THIS .buttonWrap{
	white-space: normal;
	font-size: 12px;
	line-height: 1.5em;
	font-weight: bold;
}

.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.THIS .buttonLabel {
	font-weight: bold;
}

.THIS tr:first-child .upRender {
  display:none;
}

.THIS tr:last-child .downRender {
	display:none;
}

.THIS .buttonLabel {
	font-weight: bold;
	font-size: 18px;
}
.THIS select {
    height: 2.25em !important;
}

.THIS .modal-brand {
    background-color: #2574a9;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .header-collapsible {
	background-color: #006dae !important;
	color: #fff;
}

@media(max-width:1000px){
    .THIS .hideOnMobile{
        display : none !important;
    }

    .THIS .onlyShowOnMobile {
		display : inline !important;
	}

	.THIS .wrapClass{
		width: 100% !important;
	}
}