.THIS .disable {
	pointer-events: none;
  opacity: 0.4;
}

.THIS .button-styling:hover{
   text-decoration:underline;
}

.THIS .button-group-styling {
  justify-content: center;
  max-width: 320px;
  margin: 0 auto !important;
  width: 100%;
  display: flex;
}

.THIS .button-group-styling > div {
  text-align: center;
}

.THIS .heading {
   font-weight: 300;
   font-size: 20px;
   color: #006DAE;
}

.THIS .header-styling {
	text-align:center;
  font-weight: 300;
  padding-bottom: 0.4rem;
}

.THIS .stacked-header-styling {
	background-color: #005FB2;
	color : white;
}

.THIS .section-title-styling {
  background-color: #006DAE;
  color : white;
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  width: 100%;
  margin: 1rem auto 0;
  padding: 0.8rem 0;
  text-transform: uppercase;
}

.THIS .section-float {
	background-color:#fff;
	padding: 10px 10px 10px 10px;
	display: block;
	margin: auto
}

.THIS .field-spacing {
   padding-top: 5px;
   padding-bottom: 5px;
}

.THIS .whitespace:before {
	content: "\00a0 ";
}

.THIS .whitespace:after {
	content: "\00a0 ";
}

.THIS .slds-text-title.tooltip span:first-child {
  text-transform: uppercase;
  padding-left: 0.75rem
}

.THIS .tooltip {
    position: relative;
    display: inline-block;
}

.THIS .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.THIS .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.THIS input[type=text], .THIS input[type=tel], .THIS input[type=email], .THIS select {
  max-width: 400px;
  display: block;
  width: 100%;
}

.THIS .uiMessage {
  margin: 0;
}

.THIS .hideComponent {
    display: none;
}