.THIS {
}

.THIS h1.headlineTitle{
    font-family: Century Schoolbook Georgia Times New Roman;
    font-size: 2.625rem;
    color: #006DAE;
    text-transform: none;
    text-align: center;
    font-weight:normal !important;
}