.THIS .notUploading {
    visibility: hidden;
}

.THIS .uploading {
    visibility: visible;
    display: inline-block;
    margin-top: 10px;
}

.THIS .wrapClass{
	white-space: normal;
}

.THIS select {
    height: 2.25em !important;
}

.THIS .modal-brand {
    background-color: #2574a9;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .header-collapsible {
	background-color: #006dae !important;
	color: #fff;
}

.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

@media(max-width:1000px){
    .THIS .hideOnMobile{
        display : none !important;
    }

    .THIS .onlyShowOnMobile {
		display : inline !important;
	}

	.THIS .wrapClass{
		width: 100% !important;
	}
}