.THIS .nav-login {
    background: #f6f6f6;
}

@media (max-width: 768px) { 
   .THIS .forceCommunityNavigationMenu .homeLink {
        display: none;
    }
}
@media only screen and (min-width: 20.0625em) and (max-width:47.937em) { 
   .THIS .nav-login {
        height: 46px;
    }
}

@media only screen and (min-width: 48em) and (max-width:63.937em) {
    .THIS .nav-login {
        height: 64px;
    }
}