@media only screen and (min-width: 20.0625em) and (max-width:47.937em) { 
    .THIS .mob-view {
        display: none;
    } 
    .THIS .mob-view-logo {
        display: block;
        text-align: center;
    }
}

.THIS ul li {
    list-style-type: none !important;
}

.THIS li.nav-links {
    float: left;
}

.THIS li.nav-links a {
    color: #505050;
    display: block;
    font-family:sans-serif;
    font-size:0.8125rem;; 
    padding: 2px 22px;
    text-align: center;
}