.THIS .results-text {
    border-bottom: solid 0.3px #979797;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1rem;
    padding: 15px 0;
}
.THIS .results-text a {
    color:#006DAE !important;
    text-decoration:none !important;
}
.THIS .results-text a:hover {
    text-decoration: underline !important;
}
.THIS  .pagination-btn{
    border: none;
    background: black;
    color: #fff;
    margin:1px;
    padding: 2px 10px;
}
.THIS .result-text-left {
    padding-left: 1.5rem;
}
.THIS h3 {
    background-color: white;
    color: black;
    font-family: Roboto;
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align:center;
}