.THIS .app-selectOption {
    height: 2.25rem !important;
}

.THIS select {
    height: 2.25em !important;
}

.THIS .uiInputDefaultError li {
    list-style: none;
}

.THIS .app-errorText {
	color: rgb(194, 57, 52)
}

.THIS .error-only {
	display: none !important;
}

.THIS .x-button {
	background-color: transparent;
	border: none;
	padding: 0;
}

.THIS .has-errors .slds-input {
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
}

.THIS .dateError {
	border-color: rgb(194, 57, 52);
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
    background-clip: padding-box;
}

.THIS .modal-brand {
    background-color: #2574a9;
}

.THIS .section-float {
	background-color: #fff;
	box-shadow: 5px 5px 5px 5px #b8c3ce;
	border-radius: 5px;
	padding: 10px;
}

.THIS .padded-div {
	padding: 10px;
}